# 3. Basics of Python Programming

In [1]:
#printing the hello world
print("hello world")

hello world

### format()

In [4]:
float(16)/float(3)

5.333333333333333

In [7]:
format(float(16)/float(3),'.3f')

'5.333'

In [10]:
format(3**50,'.5e')

'7.17898e+23'

In [11]:
format(123456,',')

'123,456'

format()

### Quotient and Remainder

In [13]:
78/15

5.2

In [14]:
78//15

5

In [15]:
78%15

3

In [19]:
print(78/5)
print(78//5)
print(78%5)
print(78/5.0)
print(78//5.0)

15.6
15
3
15.6
15.0

### Strings

In [23]:
print('mani')
print("Mani")
print('''Hello Mani! How are you. enti sangati ''')

mani
Mani
Hello Mani! How are you. enti sangati

In [28]:
print('Hello' ' Manchi' 'lo vunnavu ra' 'Gundello gitar moginchavey ennenno janmala  bandham ni deee naadi')

Hello Manchilo vunnavu raGundello gitar moginchavey ennenno janmala  bandham ni deee naadi

In [30]:
print(U"Mani@123445667890")

Mani@123445667890

### Escape Sequernces

In [31]:
print('what's Your name?')

SyntaxError: unterminated string literal (detected at line 1) (210042158.py, line 1)

In [32]:
print('What\'s Your name?')

What's Your name?

In [35]:
print("What is your name? "My name is Mani the  Discoverer and Intventor"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4031530632.py, line 1)

In [37]:
print("What is your name? \"My name is Mani the  Discoverer and Intventor" ")

SyntaxError: unterminated string literal (detected at line 1) (884546924.py, line 1)

In [38]:
print("What is your name? \"My name is Mani the  Discoverer and Intventor\" ")

What is your name? "My name is Mani the  Discoverer and Intventor"

In [41]:
print(""" """My name is manisankar Reddy""" """)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2245486911.py, line 1)

In [47]:
print(""" \"""My name is manisankar Reddy\""" """)

 """My name is manisankar Reddy"""

In [48]:
print("My Enthusiasm is my "best Strength"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (915488726.py, line 1)

In [50]:
print("My Enthusiasm is my \"best Strength.\"")

My Enthusiasm is my "best Strength."

In [54]:
print("This is my basics revision about python programming.  \nI am very curious to recall all these stuff again.....")

This is my basics revision about python programming.
I am very curious to recall all these stuff again.....

In [56]:
print("\"moye moye\"")

"moye moye"

In [57]:
#pritning the backslash
print("\\")

\

In [58]:
print('\a')



In [64]:
print("\a")
print("Mani is the\t\"Man of the  Mass Heart\" ")
print("Mani is the\n\"Man of the  Mass Heart\" ")
print("Mani is the\f\"Man of the  Mass Heart\" ")


Mani is the	"Man of the  Mass Heart"
Mani is the
"Man of the  Mass Heart"
Mani is the"Man of the  Mass Heart"

In [69]:
print*("%x58")

TypeError: can't multiply sequence by non-int of type 'builtin_function_or_method'

In [70]:
## RAW string

print(R"'Mani is  a BAd MAn.'s.")

'Mani is  a BAd MAn.'s.

In [78]:
print(format('Buddy','<50'))
print(format('Buddy','>50'))
print(format('Buddy','^50'))

Buddy
                                             Buddy
                      Buddy

In [80]:
print(format('Mani','w<10'))
print(format('Mani','w>10'))
print(format('Mani','w^10'))

Maniwwwwww
wwwwwwMani
wwwManiwww

### OPerators

1)Arithmetic Operators -> +,-,*,/,**,//,%
2)Assignment Operators -> =,+=,-=,/=,//=,*=,**= ,%=, !=
3)Logical operators -> &&,||,!
4)Comparison (Relational) Operarators -> == ,!= , < ,>, <=, >= 
5)Unary Operators -> -
6)Bitwise Operartors -> &,| ,~ ,^
7)Membership Operators -> in , not in
8)Identity Operators -> is , isnot

In [92]:
# shift operators

x = int(bin(258)[2:])
x=100000010

In [93]:
left_shift = x << 1
right_shift  = x >>1
print(left_shift)
print(right_shift)

200000020
50000005

In [100]:
str ='mani '*5
print(str )

mani mani mani mani mani

In [107]:
#tuple 
my_tuple = ('abc', 23, 10.25, True,'125')
print(my_tuple)
print(my_tuple[2])
print(my_tuple+(123,45,6.2))
print(my_tuple *2)

#print(my_tuple[3] = 'a')

('abc', 23, 10.25, True, '125')
10.25
('abc', 23, 10.25, True, '125', 123, 45, 6.2)
('abc', 23, 10.25, True, '125', 'abc', 23, 10.25, True, '125')

In [108]:
#Guess the output...

my_tuple = ('abc', 23, 10.25, True,'125')
print(my_tuple * 2)

ouptput: 

a) Runtime Error
b) Syntax Error
c) Repeats the Tuple
d) Double the each value in the tuple

('abc', 23, 10.25, True, '125', 'abc', 23, 10.25, True, '125')

In [111]:
#list
list_1 =  [1, 2.1, 101,'Mani', True]

print(list_1[2])
print(list_1 *3)

101
[1, 2.1, 101, 'Mani', True, 1, 2.1, 101, 'Mani', True, 1, 2.1, 101, 'Mani', True]

### Type Conversion

In [115]:
my_str = 'A'
chr(ord(my_str))

'A'

In [117]:
unichr(65) # python 3 removes this

NameError: name 'unichr' is not defined

In [119]:
m = "Mani"
dict(m)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [122]:
my_dict = dict([('Mani',20),('Rahul',22)])
my_dict

{'Mani': 20, 'Rahul': 22}

In [129]:
#ex :
num1 = float(input())
num2 = float(input())
add_ = num1+num2
#del str
print(str(num1)+ " + " +str(num2)+ " = " + "%.2f"%add_)

 1.25
 2036.5

1.25 + 2036.5 = 2037.75

In [131]:
## finding the Lcm of two numbers:
def LCM(a,b):
    max_num = max(a,b)
    while True:
        if max_num %a == 0 and max_num %b == 0:
            return max_num
        max_num +=1
    

n1 = int(input()) #6
n2 = int(input()) #3
res = LCM(n1,n2)
print(res)

 50
 500

500

In [132]:
#Finding the GCD of two numbers
def GCD(a,b):
    if a<b:
        dividend = b
        divisor = a
    else:
        divisor =b
        dividend =a
    while divisor:
        dividend = divisor
        divisor = dividend%divisor
    return dividend

res = GCD(2,6)
print(res)

2

In [138]:
#write a python program to print the reverse of a number:
n =int(input())#123
res = 0
rem = 0
while n:
    rem = n%10
    res = rem+res*10
    n = n//10
print(int(res))

 123

321

In [155]:
## print the n Prime Numbers:
def isPrime(n):
    i =2
    while i<n:
        if n%i == 0:
            return False
        i+=1
    return True



def prime(n):
    i= 2
    while i<n:
        if isPrime(i):
            print(i)
        i+=1


n = int(input())
prime(n)

 100

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Errors

In [2]:
print("!!! Syntax Error")
print((2+3)))

SyntaxError: unmatched ')' (3611598793.py, line 2)

In [3]:
print("!!! Name Error")
mani_s = 'Manisankar Reddy'
print(mani_S)

!!! Name Error

NameError: name 'mani_S' is not defined

In [6]:
print("!!! ZeroDivision Error")
print(456789%0)

!!! ZeroDivision Error

ZeroDivisionError: integer modulo by zero

### Creatign a FUnction

In [7]:
def my_function():
    print("Hello")
    name = input("Enter your name : ")
    print(name)
my_function()

Hello

Enter your name :  Mani Sankar Reddy

Mani Sankar Reddy

In [9]:
def divide(n1,n2):
    return n1/n2

print(divide(n2= 10,n1 =100))

10.0

In [11]:
scores = [35,85,20,65,100,95,23]
for _ in scores:
    print(_)
    if _ > 50:
        break

35
85

In [13]:
scores = [35,85,20,65,100,95,23]
for _ in scores:
    if _ == 85:
        continue
    print(_)

35
20
65
100
95
23

In [4]:
while True:
    print("valid")
    break

valid

## List operations

In [15]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
print(list_1+list_2)
print(list_1[3])
list_1.append(11)
print(list_1)
print(list_1.pop())
print(list_1[4])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
[1, 2, 3, 4, 5, 11]
11
5

In [16]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [18]:
print(abs(-925.52))
print(round(5.25888))

925.52
5

## Randomisation

In [21]:
import random 
num = random.randint(1,10)
print(num)

1

## creating classes

In [42]:
class MyClass:
    def __init__(self):
        self.name = "Mani"
    def details(self):
        self.age = 20
        self.color = "brown"
        self.Heart = "Lovely"
        print(self.Heart)
        return self.color
        
obj = MyClass()
print(obj.details())
print(obj.name)

Lovely
brown
Mani

## Inheritance

In [53]:
class Animal:
    def breathe(self,name):
        self.name = name
        print(self.name)
        return True

class Reptiles(Animal):
    def childMethod(self,name):
        super().breathe(name)
        print("Child Method")
        return True


animal_obj = Animal()
print(animal_obj.breathe('Dog'))
print("\n")

obj = Reptiles()
print(obj.childMethod("Snake"))

Dog
True


Snake
Child Method
True